<%= form_for @adventure do |form| %>

  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@adventure.errors.count, "error") %> prohibited
        this adventure from being saved:
      </h2>
      
        <% @adventure.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      
    </div>
  <% end %>

  <p id="name">
    <%= form.label :name %><br>
    <%= form.text_field :name, :id => 'name' %>
  </p>
  
  <p>Choose a storyline for your adventure</p>
  <p>

    <%= form.label :storyline, "Storyline 1", :value => 'story1',  :id => 'storyline1'%>
    <%= form.radio_button :storyline, 'Storyline 1', :checked => "checked" %>
    <%= form.label :storyline, 'Storyline 2', :value => 'story2', :id => 'storyline2'%>
    <%= form.radio_button :storyline, 'Storyline 2'%>
    
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>