<%= form_for @adventure do |form| %>

  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@adventure.errors.count, "error") %> prohibited
        this adventure from being saved:
      </h2>
      <ul>
        <% @adventure.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>Choose a storyline for your adventure</p>
    <p><%= form.radio_button :storyline, 'Storyline 1' %></p>
    <p><%= form.label :storyline, 'Storyline 1', :value => 'story1' %></p>
    <%= form.radio_button :storyline, 'Storyline 2' %>
    <%= form.label :storyline, 'Storyline 2', :value => 'story2' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>