<h1>Saved Adventures</h1>



<table bgcolor="darkgray" align="center" width="400">
  <tr>
    <th>Name</th>
  </tr>
 
  <% @adventures.each do |adventure| %>
    <tr>
      <td><%= adventure.name %></td>
      <td><%= link_to 'Show', adventure_path(adventure) %></td>
      <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
      <td><%= link_to 'Delete', adventure_path(adventure), 
              method: :delete,
              data: {confirm: 'Are you sure you want to delete your adventure?' } %></td>
      
    </tr>
  <% end %>
</table>

<%= link_to 'New Adventure', new_adventure_path, class: 'link-to-text-color'%>