<h1>New Adventure</h1>

<p> Enter a name for your new adventure!</p>

<%= form_with scope: :adventure, url: adventures_path, local: true do |form| %>
  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@adventure.errors.count, "error") %> prohibited
        this adventure from being saved:
      </h2>
      
        <% @adventure.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      
    </div>
  <% end %>

  <p id="saved">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back to Saved Adventures', adventures_path, class: 'link-to-text-color' %>