<p>
  <strong>Current Adventure:</strong>
  <%= @adventure.name %>
</p>

<%= form_with(model: [ @adventure, @adventure.levels.build ], local: true) do |f| %>

  <% if Level.exists? == false then %>
    <p> Your first level </p>
    <p>
      <%= f.label :level %><br>
      <%= f.text_field :level %>
    </p>
    <p>
      <%= Level::LEVEL_HASH[:start][:text] %>
    </p>
  
    <p>Your move: </p>
    <p>
      <% Level::LEVEL_HASH[:start][:user_choices].each do |text, point| %>

        <%= f.radio_button :user_choice, text, :checked => "checked" %>
        <%= f.radio_button :pointer, point,  :checked => "checked" %>
        <%= f.label :user_choice, text %><br>
        
      <% end %>
      
    </p>
    <p>
      <%= f.submit "Enter" %>
    </p>
    
  <%  else  %>
  
    
    <p>
      <%= f.label :level %><br>
      <%= f.text_field :level %>
    </p>
    <p>
      <%= Level::LEVEL_HASH[:"#{Level.last.pointer}"][:text] %>
    </p>
  
    <p>Your move: </p>
    <p>
    
      <% Level::LEVEL_HASH[:"#{Level.last.pointer}"][:user_choices].each do |text, point| %>

        <%= f.radio_button :user_choice, text, :checked => "checked" %>
        <%= f.radio_button :pointer, point,  :checked => "checked" %>
        <%= f.label :user_choice, text %><br>
        
      <% end %>
    </p>
    <p>
      <%= f.submit "Enter" %>
    </p>
   
    
    
  <% end %>
<% end %>

<%= link_to 'Back to my Adventures', adventures_path %>
<%= link_to 'Show', adventure_path(@adventure) %>