<p>
  <strong>Current Adventure:</strong>
  <%= @adventure.name %>
</p>

<%= form_with(model: [ @adventure, @adventure.levels.build ], local: true) do |f| %>
  <p>
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </p>
  
  <p>Your move: </p>
  <p>
  
    <!-- need a do while here for the levels bc levels may have different pointers -->
    
    <% Level::USER_CHOICES.each do |val, choice| %>

      <%= f.label :user_choice, choice, :value => '1' %>
      <%= f.radio_button :user_choice, val, :checked => "checked" %> <br>
      
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to my Adventures', adventures_path %>