<p>
  <strong>Current Adventure:</strong>
  <%= @adventure.name %>
</p>

<%= form_with(model: [ @adventure, @adventure.levels.build ], local: true) do |f| %>
  <p>
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </p>
  
  <p>Your move: </p>
  <p>
  
    <!-- need a do while here for the levels bc levels may have different pointers -->
    
    <!-- for ZEENAT, want to have them in a list, not all in a row -->

      <%= f.label :user_choice, "Option 1", :value => '1' %>
      <%= f.radio_button :user_choice, 'Text Here', :checked => "checked" %><br>
      <%= f.label :user_choice, 'Option 2', :value => '2' %>
      <%= f.radio_button :user_choice, 'Text Here'%><br>
      <%= f.label :user_choice, 'Option 3', :value => '3' %>
      <%= f.radio_button :user_choice, 'Text Here'%><br>
  
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to my Adventures', adventures_path %>