<p>
  <strong>Current Adventure:</strong>
  <%= @adventure.name %>
</p>

<p>
  <strong>Storyline: </strong>
  <%= @adventure.storylines.each do |storyline| %>
    <p>
      <%= storyline.selection %>
    </p>
  <% end %>
</p>




<%= link_to 'Edit Adventure', edit_adventure_path(@adventure), class: 'link-to-text-color' %> |

<%= link_to 'Back to Saved Adventures', adventures_path, class: 'link-to-text-color' %>

